*{
	padding: 0;
	margin: 0;

}
.logo a{
	height: 50%;
	font-family: 'Pattaya', sans-serif;
	text-decoration: none;
	font-size: 25px;
	color: black; 
	letter-spacing: 5px;
	left: calc(100% - 95%);
}
header {
	width: 100%;
	height: 80%;
	background-image: linear-gradient(to top, #808080 20%);
}
 .navsection{
width: 100%;
height: 15vh; background-color: transparent;
display: flex; justify-content: space-around;
align-items: center;
border-bottom: 1px solid lightgray;
}
nav{
width: 80%;
display: flex;
justify-content: space-around;

}
nav a{
text-decoration: none;
color: gray;
font-weight: 900;
font-size: 17px;
position: relative;

}
nav a:hover
{
cursor: pointer;
color: red;


}
.navsection input[type="submit"]
{

	outline: none;
border: none;
width: 80px;
	height: 40px;
	background: #ea4c89;
	color: black;
	font-size: 18px;
	border-radius: 5px;
}

.navsection input[type="submit"]:hover
{
cursor: pointer;
background-color: pink;


}
.box1{
width: 600px;
height: 125px;
background: lightgray;
color: black;
top: 30%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
box-sizing: border-box;
border-radius: 10px;
}

.box1 input[type="submit"]
{
	top: -10vh;
	outline: none;
border: none;
width: 80px;
	height: 50px;
	background: lightblue;
	color: white;
	font-size: 18px;
	border-radius: 10px;
	bottom: 50%%;
	
}

.box1 h4{
	top: 10%;
	text-align: center;
	padding: -10px 10px 10px;
	
}
.box1 p{

text-decoration: none;
font-weight: 900;
text-align: center;
font-size: 14px;
padding-right: 20px 20px 20px;
padding: 10px 10px;
cursor: pointer;
text-transform: uppercase;
border-radius: 5px;
display: inline-block;
margin-right: 50px;
color: black;
letter-spacing: 0;
border: double 2px gray;

}

.box1 h5{
	text-align: center;
	padding: -10px 0 5px;
	
}
.box2{
width: 600px;
height: 100px;
background: white;
color: black;
top: 80%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
box-sizing: border-box;
}
.a{

	width: 70px;
	height: 70px;
	border-radius: 100%;
	position: absolute;
	top: -10%;
	left: calc(100% - 75%);
	
	}
	.box2 h4{
	top: 10%;
	text-align: center;
	padding: -10px 10px 10px;
	
}
.box2 h5{
	text-align: center;
	padding: -10px 0 5px;
	
}
.box2 input[type="submit"]
{
left: 70%;
	border: none;
	outline: none;
	height: 30px;
	background: lightgray;
	color: black;
	font-size: 17px;
	border-radius: 5px;
	right: calc(100% - 90%);
	margin-right: 10px;
}

.image{

cursor: zoom-in;
top: 150%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
}
.para h3{
	font-size: 20px;
	text-align: center;
	top: 200%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);

}
.para h4{
	text-align: left ;
	top: 204%;
left: 40%;
font-size: 20px;
position: absolute;
transform: translate(-50%, -50%);
}
.para h5{
	font-weight: 800;
	font-size: 20px;
	text-align: left ;
	top: 207%;
left: 47%;
position: absolute;
transform: translate(-50%, -50%);
}
.para p{
	font-weight: 800;
	font-size: 20px;
	
	text-align: left ;
	top: 210%;
left: 36%;
position: absolute;
transform: translate(-50%, -50%);
}
 .pic {
cursor: pointer;
top: 225%;
position: absolute;

	width: 10px;
	height: 10px;
	border-radius: 100%;

	
	left: calc(100% - 55%);
	
border-bottom: gray;
}
.name h3{
	font-size: 20px;
	text-align: center;
	top: 237%;
left: 48%;
position: absolute;
transform: translate(-50%, -50%);

}
.name h4{
	font-size: 20px;
	text-align: center;
	top: 255%;
left: 10%;
position: absolute;
transform: translate(-50%, -50%);

}


.box4{
width: 1315px;
height: 500px;
background: lightgray;
color: black;
top: 330%;
left: 50%;
position: absolute;
transform: translate(-50%, -50%);
box-sizing: border-box;
}
.box4 h1{
color: red;
font-family: 'Pattaya', sans-serif;
top: 30%;
left: 8%;
position: absolute;

}
.box4 p{
top: 38%;
position: absolute;
left: 8%;
}
.box4 h2{

top: 30%;
left: 30%;
position: absolute;
}
.box4 ul{
top: 37%;
left: 31%;
position: absolute;


}

.inbox  h3{
top: 314%;
left: 45%;
position: absolute;

}

.inbox  ul{
top: 319%;
left: 46%;
position: absolute;

}

.inbox1  h3{
top: 330%;
left: 45%;
position: absolute;

}
.inbox1  ul{
top: 335%;
left: 45%;
position: absolute;

}
.inbox2  h3{
top: 314%;
left: 62%;
position: absolute;

}
.inbox2  ul{
top: 319%;
left: 64%;
position: absolute;

}
.inbox3  h3{
top: 314%;
left: 72%;
position: absolute;

}
.inbox3  ul{
top: 319%;
left: 74%;
position: absolute;

}
footer {
	width: 100%;
	height: 80%;
	background-image: linear-gradient(to top, #808080 20%);
	background-color: transparent;
	border-color: darkgray;

}
.last p{


top: 340%;
left: 5%;
position: absolute;
color: gray;

}
